html{
    font-family: "Times New Roman";
    background-color:rgb(12, 19, 20);
}

section{
    max-width: 900px;
    margin-top: 84px;
    margin-right: auto;
    margin-left: auto;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    gap: 32;
    background-color: rgb(111, 74, 56);
    color: white;
    height: fit-content;
    border-radius: 32px;
}

.hero h1{
    margin: 0px;
}
.hero h2{
    margin: 0px;
}
.hero p{
    margin: 0px;
}

.nombre{
    font-size: 55px;
    line-height: 100%;
}
.info{
    font-size: 32px;
    line-height: 120%;
    align-items: center;
}
.bio{
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
}
.enlace-proyecto{
    text-decoration: none;
    color: black;

}
.enlace-proyecto:hover{
    color: rgb(0, 0, 0);
}
.proyecto{
    padding: 16px;
    background-color:rgb(85, 137, 149);
    border: 1px solid;
    border-color: rgb(72, 122, 114);
    border-radius: 16px;
    margin-top: 16px;
}
.proyecto:hover{
 background-color: rgb(48, 113, 113);   
}
.experiencia{
    padding: 16px;
    background-color:rgb(85, 137, 149);
    border: 1px solid;
    border-color: rgb(43, 85, 92);
    border-radius: 16px;
    margin-top: 16px;
}
.estudios{
    padding: 16px;
    background-color:rgb(85, 137, 149);
    border: 1px solid;
    border-color: rgb(43, 85, 92);
    border-radius: 16px;
    margin-top: 16px; 
}
.habilidades{
    width: fit-content;
    padding: 8px;
    border-radius: 16px;
    border: 3px solid rgb(63, 45, 20);
    background-color: rgb(134, 80, 54);
    color: white;
}
.habilidades_texto{
    width: fit-content;
    margin: 0px;
}
.empresa{
    font-weight: 600;
}
.puesto{
    font-weight: 400;
}
.tiempo{
    font-weight: 400;
}
.envoltura-habilidad{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: fit-content;
}
.idiomas{
    width: fit-content;
    padding: 8px;
    border-radius: 16px;
    border: 3px solid rgb(63, 45, 20);
    background-color: rgb(134, 80, 54);
    color: white;
}
.envoltura-idiomas{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: fit-content;
}
.color_p{
    color: white
}