---
import Instagram from "./icons/instagram.astro"
import Github from "./icons/github.astro"
import Linkedin from "./icons/linkedin.astro"
---
<footer>
    <nav>
        <ul>
            <li><a href="https://www.instagram.com/"><Instagram /></a></li>
            <li><a href="https://github.com/Iann5"><Github /></a></li>
            <li><a href="https://www.linkedin.com/"><Linkedin /></a></li>
            
        </ul>
    </nav>
</footer>
<style>
    footer {
        margin-top: 84px;
        width: 100%;
        background-color: rgb(85, 137, 149);
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    link {
        list-style: none;
    }
    ul {
        width: fit-content;
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        list-style: none;
    }
    a{
        color: rgb(255, 255, 255);
    }
</style>